DATABASE_URL=postgresql://mosquilab_user:v4IgOj1zkKqKs3ZbNXk2BB6ifBoWO8NI@dpg-d8beibugvqtc73ahtj90-a/mosquilab
JWT_SECRET=mosquilab2026
PORT=8080
CORS_ORIGIN=https://frontend-mosquilab.vercel.app/
ADMIN_EMAIL=admin@mosquilab.univille.br
ADMIN_PASSWORD=mosquilab2024